.mi-navbar{
    position: sticky;
    top: 0px; 
}

.img-nav{
    width: 75px;
    border-radius: 50%;
    border: 1px solid rgb(164 197 154);
    box-shadow: 0px 0px 5px 2px #c593b3;
}

.nav-container{
    border-bottom: 1px solid;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    transition: background-color 0.3s ease-in;
    padding: 0.5rem;
}
.nav-link:hover{
    background-color: rgba(78, 77, 77, 0.842);
}
.nav-link.active{
    background-color: rgba(128, 128, 128, 0.842);
}